<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8Zs5zYQJQF71zmkn9R1tIvKjTEb5p_Co</string>
	<key>GCM_SENDER_ID</key>
	<string>851044628598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HomeCode.UberTutorial</string>
	<key>PROJECT_ID</key>
	<string>ubertutorial-f97e4</string>
	<key>STORAGE_BUCKET</key>
	<string>ubertutorial-f97e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851044628598:ios:6ef6dec7d58c2c5e5f0757</string>
	<key>DATABASE_URL</key>
	<string>https://ubertutorial-f97e4-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>